root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
indent_size = 4
indent_style = space
ktlint_standard_no-wildcard-imports = disabled

[**/build/**]
ktlint = disabled

[**/testFixtures/**]
ktlint = disabled

[**/fixtures/**]
ktlint = disabled

[*.{yaml,yml}]
indent_size = 2
indent_style = space

[*.{xml,gradle.kts}]
indent_size = 4
indent_style = space

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

[*.toml]
indent_size = 4
indent_style = space
